body{
    background-image: url(https://img.freepik.com/free-photo/colorful-smoky-watercolor-textured-background_53876-101802.jpg);
    background-size: cover;
    colour: grey
}/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 16, 2024, 2:39:32 PM
    Author     : npodina
*/

